{% extends "base_col_1.html" %}
{% from "macros/_macros_form.html" import render_field %}
{% block title %}Product page{% endblock %}

{% block pageContent %}

    {% set url = "/product/" + product.slug %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ product.name }}</h2>
            </div>
            <div class="panel-body">
                <div class="img-block">
                    <img src= {{ product.image }} width="100%" height="100%"/>
                </div>
            </div>
            <div class="panel-footer">
                    <form method="POST">
                        <div class="label label-info" style="font-size: large; margin-left: 30%; margin-right: 20%;" >Price: {{ product.price }} Rs</div>
                        {{ form.hidden_tag()}}
                            <button type="submit" class="btn btn-success" id="buy-now">Add To Cart</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}