{% from "macros/_macros_basket.html" import count_items %}
{% extends "base_col_1.html" %}
{% block title %}My Cart {% endblock %}

{% block pageContent %}

{% if cart_items | length > 0 %}

<div style="text-align: right; font-size: large;"><a href="/checkout"><button class="btn-success">Checkout
            <span class="badge">{{count_items()
                }}</span></button> </a></div><br>
{% for item in cart_items %}

{% set url = "/product/" + item.product.slug %}


<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;">
            <a href="{{url}}">
                <h2 class="panel-title">{{ item.product.name }}</h2>
            </a>
        </div>
        <div class="panel-body">
            <div class="img-block">
                <img src={{ item.product.image }} width="200" height="200" />
            </div>
        </div>
        <div class="panel-footer">
            <div class="label label-info"
                style="padding: 5px; font-size: large; margin-left: 20px; margin-right: 50px;">Price: {{
                item.product.price }} Rs</div>
            <div class="label label-warning" style="padding: 5px; font-size: large;">Quantity: {{ item.quantity }}
            </div>
            <br>
        </div>
    </div>
</div>
{% endfor %}

{% else %}
<strong>No items added.</strong>
{% endif %}


{% endblock %}