{% extends "base_col_1.html" %}
{% block title %}My Orders {% endblock %}

{% block pageContent %}
{% if orders | length > 0 %}

{% for order in orders %}


<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;">
            {{order.id}}
        </div>


        {% for product in order.products %}
        {% set url = "/product/" + product.product.slug %}

        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;">
                    <a href="{{url}}">
                        <h2 class="panel-title">{{ product.product.name }}</h2>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="label label-info"
                        style="padding: 5px; font-size: large; margin-left: 20px; margin-right: 10px;">Price: {{
                        product.product.price }} Rs</div>
                    <div class="label label-warning" style="padding: 5px; font-size: large;">Quantity: {{
                        product.quantity }}</div>
                </div>
            </div>
        </div>
        <br>
        {% endfor%}
    </div>
</div>
{% endfor %}

{% else %}
<strong>No products found.</strong>
{% endif %}


{% endblock %}